@font-face {
    font-family: 'Source Sans Pro';
    src: url('fonts/SourceSansPro-Regular.otf') format('opentype');
    font-weight: normal;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('fonts/SourceSansPro-Light.otf') format('opentype');
    font-weight: 300;
}

:root {
    --salmon: #FF6565;
    --navy: #071629;
    --white: #FFFFFF;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    color: var(--navy);
    margin: 0;
    padding: 0;
    text-align: center;
}

h1, p {
    max-width: 1000px;
    margin: auto;
}

p {
    font-family: 'Source Sans Pro', sans-serif;
}

button {
    font-family: 'Source Sans Pro', sans-serif;
    border-radius: 90px;
    border: 0;
    background-color: var(--salmon);
    color: var(--white);
    margin-top: 2rem;
    padding: 1rem 2rem;
}

button:hover {
    opacity: 0.9;
    cursor: pointer;
}

.call-to-action {
    font-size: 14px;
}

a:hover {
    color: var(--salmon);
}

.box {
    background-image: url('images/headphones_hero_1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: var(--white);
}

header {
    width: 75%;
    margin: auto;
    padding-top: 3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.logo {
    height: 35px;
}

.nav-links {
    text-align: right;
    white-space: nowrap;
    font-size: 12px;
    line-height: 35px;
    font-family: 'Source Sans Pro', sans-serif;
    display: flex;
}

.nav-link {
    color: var(--white);
    text-decoration: none;
    margin-left: 3rem;
    transition: color 0.3s ease;
}

.nav-link:hover {
    color: var(--salmon);
}

.main-title {
    font-size: 32px;
    padding-top: 10rem;
}

.main-sub-title {
    margin-top: 0;
}

.text {
    max-width: 637px;
    margin-top: 3rem;
    padding-bottom: 5rem;
    line-height: 26px;
}

/* Media query for tablets */
@media only screen and (min-width: 480px) and (max-width: 1024px) {
    .icon {
        flex: 0 0 calc(50% - 10px);
    }
    .imgs {
        width: 100%;
    }
    .img {
        flex: 0 0 calc(50% - 10px);
    }
}

/* Media query for phones */
@media only screen and (max-width: 480px) {
    header {
        flex-direction: column;
        text-align: center;
    }
    .nav-links {
        text-align: center;
    }
    .nav-link {
        margin-left: 0;
    }
    .main-title {
        padding-top: 5rem;
    }
    .box {
        background-size: auto 100%;
    }
    .icon {
        flex: 0 0 calc(100% - 10px);
    }
    .imgs {
        width: 100%;
    }
    .img {
        flex: 0 0 calc(100% - 10px);
    }
    .contact-us,
    footer {
        margin-top: 40px;
    }
}