@font-face {
    font-family: 'Source Sans Pro';
    src: url('fonts/SourceSansPro-Regular.otf') format('opentype');
    font-weight: normal;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('fonts/SourceSansPro-Light.otf') format('opentype');
    font-weight: 300;
}

:root {
    --salmon: #FF6565;
    --navy: #071629;
    --white: #FFFFFF;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    color: var(--navy);
    margin: 0;
    padding: 0;
    text-align: center;
}

h1, p {
    max-width: 1000px;
    margin: auto;
}

p {
    font-family: 'Source Sans Pro', sans-serif;
}

button {
    font-family: 'Source Sans Pro', sans-serif;
    border-radius: 90px;
    border: 0;
    background-color: var(--salmon);
    color: var(--white);
    margin-top: 2rem;
    padding: 1rem 2rem;
}

button:hover {
    opacity: 0.9;
    cursor: pointer;
}

.call-to-action {
    font-size: 14px;
}

a:hover {
    color: var(--salmon);
}

.box {
    background-image: url('images/headphones_hero_1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: var(--white);
}

header {
    width: 75%;
    margin: auto;
    padding-top: 3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.logo {
    height: 35px;
}

.nav-links {
    text-align: right;
    white-space: nowrap;
    font-size: 12px;
    line-height: 35px;
    font-family: 'Source Sans Pro', sans-serif;
    display: flex;
}

.nav-link {
    color: var(--white);
    text-decoration: none;
    margin-left: 3rem;
    transition: color 0.3s ease;
}

.nav-link:hover {
    color: var(--salmon);
}

.main-title {
    font-size: 32px;
    padding-top: 10rem;
}

.main-sub-title {
    margin-top: 0;
}

.text {
    max-width: 637px;
    margin-top: 3rem;
    padding-bottom: 5rem;
    line-height: 26px;
}

/* WHAT WE DO */

.what-we-do p{
    margin-bottom: 5rem;
}

.title {
    margin-top: 6rem;
    margin-bottom: 3rem;
    font-size: 32px;
}

.text-2 {
    max-width: 637px;
    margin-top: 3rem;
    line-height: 26px;
}

.imgs {
    width: 70%;
    margin: auto auto 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.imgs h1 {
    font-size: 18px;
    margin: 1rem;
}
.imgs p {
    font-size: 14px;
    max-width: 207px;
    line-height: 26px;
}

.img {
    flex: 0 0 calc(25% - 10px);
}

.icon {
    height: 65px;
}

/* OUR RESULTS */
.our-results {
    color: var(--white);
    background: url('images/headphones_hero_2.jpg');
}

.title-2 {
    padding-top: 6rem;
    margin-bottom: 3rem;
    font-size: 32px;
}

.icons {
    width: 70%;
    display: flex;
    justify-content: space-around;
    margin: 3rem auto 0;
    padding-bottom: 5rem;
}

.photo {
    background: url('images/pentagone.png') no-repeat center/contain;
    max-width: 20%;
    padding: 3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.photo h1 {
    padding-top: 1rem;
    font-size: 46px;
}

.text-4 {
    font-size: 14px;
    width: 120px;
    margin: 0 auto;
    white-space: nowrap;
}